body,
p,
h1,
h2 {
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #393E41;
    line-height: 150%;
    font-size: 16px;
}

h2 {
    font-size: 40px;
    line-height: 1.3em;
    margin: 0 0 20px;
}

h4 {
    margin: 0 0 10px;
    color: #fff;
    font-size: 18px;
    background: #59A96A;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
}

#contact-bar {
    background-color: #0197f6;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 10px calc(20vw - 50px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    display: none;
}

#contact-bar a {
    text-decoration: none;
    color: #fff;
    margin: 0 0 0 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

#nav-bar {
    padding: 25px 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 160px;
}

#logo h1 {
    margin-left: 25px;
}

button {
    background: none;
    border: none;
    font-size: 18px;
    padding: 0px 20px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    letter-spacing: -0.5;
    outline: none;
}

nav button {
    margin: 0 10px;
}

nav button::before {
    content: '';
    position: absolute;
    width: calc(100% - 70px);
    transform: scaleX(0);
    height: 3px;
    bottom: -10px;
    left: 20px;
    background: #f59322;
    transform-origin: bottom left;
    transition: all 0.15s ease-in-out;
}

nav button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom right;
}

nav button:hover,
nav button:active {}

.contact-button {
    /*border: 3px solid #f57d22;*/
    font-weight: 700;
    color: #fff;
    background: #f59322;
    padding: 20px 40px;
    transition: all 0.1s ease-in-out;
    border: none;
    width: 300px;
}

.contact-button:hover,
.contact-button:active {
    color: #fff;
    background: rgba(245, 145, 34, 0.8);
}

.contact-button:hover::before {
    transform: scaleX(0);
}

nav .contact-button {
    margin: 0 0 0 40px;
    width: auto;
}

.main {
    padding: 174px 0 0;
}

section {
    padding: 75px 10vw;
}

#about {
    padding: 50px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: flex-end;
    background: url('./assets/wave.svg') 100% 90% / 100vw no-repeat;
    box-sizing: border-box;
}

#about h1 {
    font-size: 44px;
    color: #393E41;
    line-height: 1.3em;
    font-weight: 900;
    margin: 0 0 20px;
}

#about p {
    font-size: 20px;
    margin: 0 0 20px;
}

#hero-container {
    max-width: 50%;
    position: relative;
}

#about img {
    max-width: 100%;
    border-radius: 100px 0 100px 0;
    position: relative;
    z-index: 1;
}
/*
#hero-container::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -40px;
    left: 0;
    background: #59F8E8;
    z-index: 0;
}

#hero-container::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: -75px;
    right: 5%;
    border-radius: 100%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 60%,
    #f59322 60%);
    z-index: 0;
}
*/

#about button {
    width: 300px;
    margin: 25px 0 0;
}

#about-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    text-align: left;
}

#h1-line-two {
    font-weight: 400;
    font-size: 50px;
}

#client-sectors {
    display: flex;
    justify-content: space-between;
    background: #e7f0ff;
    text-align: left;
    padding: 90px 10vw 60px;
}

#client-sectors-left {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 0;
    justify-content: center;
}

#cards-left,
#cards-right {
    display: flex;
    flex-direction: column;
}

#cards-right {
    padding: 35px 0 0;
}


.client-card {
    display: flex;
    padding: 20px 30px;
    border-radius: 15px;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    box-shadow: 5px 5px 5px rgb(214, 214, 214);
    transition: all 0.3s ease-in-out;
    background: #fff;
    margin: 15px;
}

.client-card:hover {
    box-shadow: 6px 6px 5px rgb(185, 185, 185);
}

.client-card-top {
    display: flex;
    margin: 0 0 10px;
    align-items: center;
}

.client-card h3 {

}

#client-sectors-right h3 {
    border-radius: 100px;
    padding: 10px 15px;
    margin: 0 0 0 10px;
    font-size: 16px;
}

#small-businesses i,
#small-businesses h3 {
    color: #1B264F;
}

#small-businesses h3 {
    background: #D6E7FF;
}

#users-5-25 i,
#users-5-25 h3 {
    color: #4D1B4F;
}

#users-5-25 h3 {
    background: #F2D6FF;
}

#existing-infrastructure i,
#existing-infrastructure h3 {
    color: #1B4F22;
}

#existing-infrastructure h3 {
    background: #D6FFD7;
}

#no-it-department i,
#no-it-department h3 {
    color: #4F1B1B;
}

#no-it-department h3 {
    background: #FFD6D6;
}


#client-sectors-right i {
    font-size: 30px;
}

#services {
    background-color: #fff;
    text-align: center;
}



.platforms,
.servers {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.platform-icon img {
    height: 40px;
    background-color: #eee;
    padding: 100px;
    margin: 20px;
}

.server-icon img {
    max-width: 180px;
    background-color: #eee;
    padding: 50px;
    margin: 0 10px;
}

#client-sectors-right {
    display: flex;
    /*
    display: grid;
    grid: auto auto / auto auto;
    grid-gap: 30px;
    align-content: center;*/
}

.client-icon {
    position: relative;
}

.icon-overlay {
    position: absolute;
    display: inline-block;
    bottom: 48%;
    right: 35%;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 30px !important;
}

#sets-apart {
    padding: 0;
    background: url(./assets/laptop.png) bottom right no-repeat, #e7f0ff;
    background-size: 40%;
}

#sets-apart-list {
    padding: 0;
    margin: 50px 0 0;
    counter-reset: sets-apart-counter -1 sets-apart-counter-right 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
    height: 596px;
    justify-content: center;
    align-content: flex-start;
}

#sets-apart-list div {
    margin: 0 25px 25px 0;
    padding: 35px 35px 35px 110px;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    width: calc(50% - 25px);
    box-sizing: border-box;
    height: fit-content;
    line-height: 125%;
    position: relative;
    box-shadow: 5px 5px 5px rgb(203, 217, 238);
    border-radius: 15px;
    color: #1B264F;
}

#sets-apart-list div::before {
    counter-increment: sets-apart-counter 2;
    content: "0" counter(sets-apart-counter);
    color: rgb(202, 220, 248);
    font-size: 60px;
    position: absolute;
    top: 47px;
    left: 25px;
}

#sets-apart-list div:nth-child(n+4)::before {
    counter-increment: sets-apart-counter-right 2;
    content: "0" counter(sets-apart-counter-right);
}

#sets-apart-list p {
    font-size: 16px;
    margin: 15px 0 0;
    font-weight: 400;
    color: #393E41;
}

#sets-apart-wrapper {
    padding: 60px 10vw;
}

#sets-apart-content p {
    font-size: 1em;
    font-weight: 400;
}

/*
#sets-apart-list {
    max-width: 50%;
    background: #fff;
    border-radius: 50px;
    margin: 40px 20rem 0 0;
    padding: 30px 3rem;
    display: flex;
    color: #1B264F;
    text-align: left;
}*/

#sets-apart-image {}

#contact {
    background: #59A96A;
    color: #fff;
    text-align: left;
    display: flex;
    padding: 75px 10vw;
}

#contact h4 {
    color: #59A96A;
    background: #fff;
}

#contact input:focus + label,
#contact input:active + label,
#contact input:valid + label,
#contact textarea:focus + label,
#contact textarea:active + label,
#contact textarea:valid + label {
    color: #1B4F22;
    font-weight: 700;
    font-size: 0.8em;
    top: -15;
    left: 0;
}

#contact input:focus ~ .form-input::after,
#contact input:active + .form-input::after,
#contact input:valid + .form-input::after,
#contact textarea:focus + .form-input::after,
#contact textarea:active + .form-input::after,
#contact textarea:valid + .form-input::after {
    color: #59A96A;    
}

#contact-left {
    padding: 0 20vw 0 0;
}

#contact-form {
    width:550px;
    margin: 0 auto;
    background: #fff;
    padding: 50px 40px;
    box-shadow: 5px 5px 5px rgba(27, 79, 34, 0.5);
    text-align: center;
}

form {
    margin: 0 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.form-input {
    position: relative;
    margin: 0 0 30px;
    width: 45%;
}

.form-textarea {
    position: relative;
    width: 100%;
}

.form-input::after,
.form-textarea::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #393E41;
}

#contact input,
#contact textarea {
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-family: inherit;
    color: #393E41;
    background: rgba(0,0,0,0);
    outline: none;
    width: 100%;
}
/*
#contact input {
    width: 45%;
}

#contact textarea {
    width: 100%;
}
*/
#contact form:last-child {
    margin: 10px 0 20px;
}

#contact label {
    color: rgb(158, 170, 177);
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 10;
    transition: all 0.2s ease-out;
}


footer {
    background-color: #1B264F;
    color: #fff;
    padding: 60px 10vw 40px;
    line-height: 200%;
    text-align: center;
}

.slant-up {
    background: #e7f0ff;
}

.slant-down {}

@media (max-width: 1400px) {
    
    #client-sectors-right {
        flex-direction: column;
    }

    #cards-right {
        padding: 0;
    }

}

@media (max-width : 1200px) {

    #about {
        background: url('./assets/wave.svg') 100% 100% / 100vw no-repeat;
    }

    #client-sectors {
        align-items: center;
        flex-direction: column;
    }

    #client-sectors-left {
        text-align: center;
        padding: 0;
    }

    #client-sectors-right {
        margin: 30px 0 0;
    }

    .server-icon {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .server-icon img {
        margin: 20px;
        padding: 50px;
    }

    #contact-form {
        max-width: 80%;
    }
}

@media (max-width: 960px) {

    #client-sectors {
        flex-direction: column;
        padding: 60px 5vw;
    }

    .client-icon {
        margin: 0 0 25px;
    }

    .clint-icon:first-of-type {
        margin: 25px 0;
    }

}

@media (max-width: 700px) {

    #contact-bar {
        font-size: 14px;
        justify-content: center;
        padding: 10px;
    }

    #contact-bar a {
        margin: 0 0 0 7%
    }

    #logo img {
        max-width: 120px;
    }

    #nav-bar {
        width: 100vw;
        padding: 10px 20px;
    }

    #nav-buttons {
        display: none;
    }

    #about {
        padding: 174px 0 50px;
    }

    #about-text {
        width: 100vw;
        padding: 0 10vw;
    }

    #hero-container {
        display: none;
    }    
    
    .server-icon img {
        max-width: 150px;
        padding: 25px;
        margin: 10px;
    }

    #sets-apart {
        background-size: 80%;
    }

    #sets-apart-wrapper {
        padding: 50px 7% 450px;
    }

    #sets-apart-wrapper h2 {
        margin: 0 0 20px;
    }

    #sets-apart-list {
        margin: 30px 0 0;
        max-width: 100%;
    }

}

@media (max-width: 435px) {

    .client-card {
        width: 80%;
    }

    .server-icon img {
        max-width: 180px;
        padding: 50px;
        margin: 20px;
    }
}