body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #eee;
    color: #262626;
    line-height: 150%;
    font-size: 16px;
    text-align: center;
}

.contact-bar {
    background-color: #0197f6;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.contact-bar a {
    text-decoration: none;
    color: #fff;
    margin: 0 0 0 30px;
}

.contact-bar a:last-of-type {
    margin: 0 30px;
}

nav {
    display: flex;
    align-items: flex-end;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin: 44px 0 0;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 98;
}

nav .logo img {
    max-width: 160px;
    margin-left: 40px;
}

nav .logo h1 {
    display: inline;
}

nav .buttons {
    margin-left: auto;
}

nav button {
    background: none;
    border: none;
    font-size: 20px;
    margin: 0 10px;
    padding: 0px 20px;
    color: #1B264F;
    font-weight: 700;
    cursor: pointer;
}

nav button:first-of-type {
    margin-left: 40px;
}

nav button:hover, nav button:active {
    
}

#contact-button {
    border: 1px solid #f57d22;
    border-radius: 10px;
    margin-right: 40px;
    color: #f57d22;
    padding: 20px 40px;
    transition: all 0.1s ease-in-out;
}

#contact-button:hover, #contact-button:active {
    color: #fff;
    background-color: #f57d22;
}

.main {
    padding: 150px 0 0;
}

#about,
#services,
#client-sectors,
#contact {
    padding: 40px 20px;
}

#about-background {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)), url(assets/hero.jpg) top center no-repeat;
    background-size: cover;
}

section {
    padding: 60px 20px;
}

#about {
    color: #fff;
}

#about h1 {
    font-size: 60px;
    color: #fff;
    line-height: 150%;
    font-weight: 900;
    max-width: 80%;
    margin: 20px auto;
}

#about p {
    font-size: 25px;
}

#h1-line-two {
    font-weight: 400;
    font-size: 50px;
}

#services {
    background-color: #fff;
}

#services h2,
#contact h2,
#client-sectors h2,
#contact h2 {
    margin: 0 0 40px;
}


.platforms,
.servers,
#client-usps {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.platform-icon img {
    height: 40px;
    background-color: #eee;
    padding: 100px;
    margin: 20px;
}

.server-icon img {
    max-width: 180px;
    background-color: #eee;
    padding: 50px;
    margin: 0 10px;
}

#client-usps {
    /*background-color:#1B264F;*/
    text-align: center;
}

#client-usps i {
    font-size: 60px;
    color: #1B264F;
    background-color: #fff;
    padding: 75px;
    border-radius: 100%;
    margin: 0 30px;
}

.copy-padding {
    padding: 1rem 5rem;
}

.client-icon {
    position: relative;
}

.icon-overlay {
    position: absolute;
    display: inline-block;
    bottom: 48%;
    right: 35%;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 30px !important;
}

#sets-apart {
    padding: 0;
    background: url(./assets/laptop.png) bottom right no-repeat;
    background-size: 50%;
}

#sets-apart p {
    font-size: 20px;
}

#sets-apart-wrapper {
    padding: 30px 0 50px;
}

#sets-apart-content {
    display: flex;
    justify-content: center;
}

#sets-apart-list {
    max-width: 50%;
    border: 5px solid #f57d22;
    border-radius: 50px;
    margin: 40px 20rem 0 0;
    padding: 30px 3rem;
    display: flex;
    color: #f57d22;
    text-align: left;
}

#sets-apart-list li {
    margin: 20px 0;
}

#sets-apart-image {}

#contact {
    background-color: #59A96A;
    color: #fff;
    text-align: center;
    padding: 35px 0 60px;
}

#contact-form {
    width: 600px;
    margin: 0 auto;
}

#contact form input,
#contact form textarea {
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 15px 10px;
    font-size: 16px;
    font-family: inherit;
}

#contact form:first-child {
    margin: 20px 0 10px;
}

#contact form:last-child {
    margin: 10px 0 20px;
}

#contact button {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 30px 75px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

#contact button:active,
#contact button:hover {
    background: #fff;
    color: #59A96A;
    transition: .1s ease-in-out;
}


footer {
    background-color: #1B264F;
    color: #fff;
    padding: 40px 20px;
    line-height: 200%;
}

.slant-down {}

@media (max-width : 1200px) {

    .servers {}

    .server-icon {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .server-icon img {
        margin: 20px;
        padding: 50px;
    }

    #contact-form {
        max-width: 80%;
    }
}

@media (max-width: 960px) {

    #client-usps h3 {
        max-width: 250px;
    }

    #client-usps i {
        font-size: 50px;
        padding: 60px;
    }

    .client-icon {
        margin: 0 0 25px;
    }

    .clint-icon:first-of-type {
        margin: 25px 0;
    }

}

@media (max-width: 700px) {

    .server-icon img {
        max-width: 150px;
        padding: 25px;
        margin: 10px;
    }

}

@media (max-width: 435px) {

    .server-icon img {
        max-width: 180px;
        padding: 50px;
        margin: 20px;
    }
}
